/.cache
/.git
/.husky
/.idea
/.scannerwork
/.vscode
/build
/coverage
/node_modules
/public
!public/index.html
.gitignore
.prettierignore
.prettierrc
package-lock.json
yarn.lock
LICENSE
*.graphql
.graphqlconfig
*.snap
*.txt
*.back
